@import "~antd/dist/antd.css";

.Table-container {
  display: flex;
  justify-content: center;
}
.Table-content {
  width: 90em;
  text-align: left;
}

.Table-header {
  display: flex;
  justify-content: flex-end;
}

.Search-button-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Search-button-latest {
  justify-content: flex-end;
}
