@import "~antd/dist/antd.css";

.Search-results {
    display: flex;
    justify-content: center;
}

.Table-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.ant-table-row {
    background-color: #ffff;
}

.ant-table-wrapper {
    width: 100%;
    background-color: #ffff;
    font-family: PT Sans, sans-serif;
    overflow: hidden;
    border-radius: 1.5rem/2rem;
    box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.1);
    transform: translateZ(0);
}

.ant-pagination {
    padding-right: 3em;
}

