@import "~antd/dist/antd.css";

.Download-container {
  margin: 2.5em;
  display: flex;
  justify-content: center;
  min-height: 50vh;
}

.Download-content {
  background-color: #ffff;
  padding: 4em;
  width: 50%;
  font-family: PT Sans, sans-serif;
  overflow: hidden;
  border-radius: 1.5rem/2rem;
  box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.1);
  transform: translateZ(0);
}

.Download-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.Download-title-specs {
  text-align: center;
  opacity: 0.7;
}
/* . .Download-sub-header {
  display: flex;
} */

.Download-body {
  padding: 1em 3em;
}

.Download-description {
  text-align: center;
}

.Download-footer {
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

.Download-button {
  padding-top: 1em;
}
