.container {
    height: 100vh;
    width: 100vw;

    display: grid;

    grid-template-areas: "header header header" "main main main" "footer footer footer";

    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
}

.container > header {
    grid-area: header;
}

.container > nav {
    grid-area: nav;
}

.container > main {
    grid-area: main;
}

.container > aside {
    grid-area: aside;
}

.container > footer {
    grid-area: footer;
}

.ant-table-row {
    background-color: #ffff;
}
